html{
    height: 100vh;
}
ul{
    list-style: none;
    color: #ba7a3d;
    
    
    
}
li{
    float: left;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 5px;
    border: none;
    
    
}
li a{
    color: #ba7a3d;
}
li a :hover{
    border-bottom: 2px solid #ba7a3d;
}
#logo{
    
    width: 100px;
    height: 100px;
    margin-left: 0;
   
}
#header{
    display: flex;
    flex-direction: column;
    background-color:  #0b1d27;
    color: #ba7a3d;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:160px;
    padding: 2px 0;
    align-items: center;
  z-index: 5;
   
}
#footer{
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    background-color:  #0b1d27;
    color: #ba7a3d;
    height: 10%;
     width: 100%;
   
    
}
#pp{
    font-size: 20px;
    display: flex;
    flex-direction: row;
}
#cent{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    align-items: center;
    
}
#Sect{
  height: 100vh;
  width: 70%;
  border-radius: 5%;
  background-color: #ba793d56;
  margin-left: 15%;
  margin-right: 30%;
  margin-top: 12%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  
}
body { 
    background-color: #ba7a3d;
    min-height: 100vh;
    margin: 0;
    padding: 0;

    
}

.imge{
    height: 200px;
    width: 150px;
    border-radius: 5%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    
}

#imagen{
    align-items: center;
    background-color: #0b1d27;
    height: 100vh;
    width: 100%;
    border-radius: 5%;
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    
}
#imagen div img{
    transition: transform 0.3s ease-in-out;
}
#imagen div img:hover{
    transform:scale(1.1);

}
/*LivrosPG2*/
#logo2{
    height: 800px;
    width: 700px;
    border-radius: 5%;
    margin-left: 30px;
}
#centro{
    
    height: 900px;
    width: 100%;
    box-shadow: 0 9px 20px;
    margin:0;
    background-color: #0b1d27;
    border:#073a58;
    border-style: solid;
    border-radius: 5%;
    margin-top: 10%;
    margin-left: 0;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
}
#esq{
    margin:0;
    width:50%;
    height:900px;
}
#dirt{
    font-family: 'Times New Roman', Times, serif;
    color: #ba7a3d;
    padding-top: 0;
    padding-right:180px;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    padding-left: 20px;
    padding-bottom: 20px;
    margin:0;
    height:900px;
    
}
#dirt  .impg2{
    transition: transform 0.3s ease-in-out;
}
#dirt .impg2:hover{
    transform: scale(1.1);
}
.colo{
    display: flex;
    flex-direction: column;

}
.liv{
    display: flex;
    flex-direction: row;
}
.impg2{
    height: 200px;
    width: 150px;
    border-radius: 5%;
    margin-right: 5px;
    margin-left: 10px;
  
   }
  
   #topo{
    margin-bottom: 100px;
    margin-right: 290px;
    font-size: 35px;
    margin-top: 0;
   }
   #baixa{
    margin-right: 290px;
    font-size: 35px;
    margin-bottom: 90px;

   }
   #titul{
    font-size: 45px;
    color: #ba7a3d;
    
   }
   #nov{

    height: 800px;
    width: 100%;
    box-shadow: 0 9px 20px;
    margin:0;
    background-color: #0b1d27;
    border:#073a58;
    border-style: solid;
    border-radius: 5%;
    margin-top: 10%;
    margin-left: 0;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 5%;
   }
  #fret{
    height: 900px;
    width: 1024px;
   padding-left: 10px;
    border-radius: 5%;

    

  }
  #frente{
    border-radius: 5%;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5%;
  }
  #pr ,  #end {
    font-size: 30px;
    color:  #ba7a3d;    
    padding-left: 20px;
    margin-left: 25px;
   }

  
  
  /* PG3 area usuario*/
  
   #ima{
    border: black;
    border-style: solid;
   }
  
   
   #cen{
    height: 100%;
    width: 100%;
    background-color: #0b1d27;
    border-color: #0b1d27;
    border-style: solid;
    border-radius: 5px;
    color: #030a0e;
    background-size: 100%;
    background-image:url(image/livrousu.png);
   }
   .usu{
    position: absolute;
    top: 20%;
    left: 2%;
   }
   #leitor{
    position: absolute;
    top: 20%;
    left: 10%;
   }
   #dados{
    position: absolute;
    top: 40%;
    left: 5%;
   }
   #da{
    position: absolute;
    top: 100%;
    font-size: 30px;
    left: 5%;
   }
   #botEnviar{
    color: #0b1d27;
    background-color: #ba7a3d;
    margin-left: 5px;
    position: absolute;
    top: 99%;
    left:4% ;
   }
   #d{
    color: #ba7a3d;
    font-size: 25px;
   }
   #esquerdo{
    position: absolute;
    font-size: 20px;
    left: 20%;
    top: 65%;
    color: #ba7a3d;
    background-color: #0b1d27;
    border: none;
   }
   #direita{
    position: absolute;
    font-size: 20px;
    top: 65%;
    right: 20%;
    color: #ba7a3d;
    background-color: #0b1d27;
    border: none;
   }
   #esquerdo:hover{
    border: 2px solid #ba7a3d;
    border-radius: 10%;
   }
   #direita:hover{
    border: 2px solid #ba7a3d;
    border-radius: 10%;
   }
  